<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cryptech</title>


</head>
<body>

<form action="/origin/" method="post">

    <table>
        {% for p,k in params.items %}
            <tr>
                <td><label for="{{ p }}">Enter {{ p }}: </label></td>
                <td><input id="{{ p }}" type="text" name="{{ p }}" value="{{ k }}" size="200"></td>
            </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Submit">
</form>

</body>
</html>