{% extends 'base.html' %}
{% block title %}Log In

{% endblock %}
{% block login_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">
    </br></br></br></br>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" align="center">
                    <h3>Your content is being pushed to the blockchain! </h3><br><br>
                    <h4>Your credentials:</h4>
                    <form action="/origin/" method="post">
                            {% for p,k in user_info.items %}
                                <br><label class="control-label col-sm-2" for="{{ p }}">{{ p }}:</label>
                                <input id="{{ p }}" type="text" name="{{ p }}" value="{{ k }}" size="100"><br>
                            {% endfor %}
                    <br><br>
                    <h4>Your content credentials:</h4>
                            {% for p,k in content_info.items %}
                                <br><label class="control-label col-sm-2" for="{{ p }}">{{ p }}:</label>
                                <input id="{{ p }}" type="text" name="{{ p }}" value="{{ k }}" size="100"><br>
                            {% endfor %}
                    <br><br>
                        <img src="https://api.qrserver.com/v1/create-qr-code/?data={{ qr }}&amp;size=200x200&amp;ecc=H"/><br>
                        <a href="{{ qr  }}"><h4>link</h4></a>
                    <h4>Your factom information:</h4>
                            {% for p,k in factom_info.items %}
                                <br><label class="control-label col-sm-2" for="{{ p }}">{{ p }}:</label>
                                <input id="{{ p }}" type="text" name="{{ p }}" value="{{ k }}" size="100"><br>
                            {% endfor %}<br><br>
                                                <input type="submit" value="Update Page">
                        <input type="submit" value="Next Step" formaction="/verify/">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

<!--7addc7c6f8b471f1410f397bf476c9533508230db033a4ff2b32e035487bb242-->
<!--31666332376461366334616666646434353461633563663764e62b05bc3789bb086545cc054496a6371a57ce528e337e9e83a9e23bf86924074ac6fb77bf76d51a77682897698c21e142bc0e75720c34-->