{% extends 'base.html' %}
{% block title %}Log In

{% endblock %}
{% block login_active %}active{% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" align="center">
                    <h3>Upload some media: </h3>
                    {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <br><br>
                    <form action="/upload/" method="post" enctype="multipart/form-data">

                        <label class="control-label col-sm-2" for="public_key">Public Key: </label><br>
                        <input id="public_key" name="public_key" type="text" value="{{ public_key }}" size="70">
                        <button class="btn btn-success" onclick="copyUK()">Copy</button><br>

                        <label class="control-label col-sm-2" for="private_key">Private Key: </label><br>
                        <input id="private_key" name="private_key" type="password" value="{{ private_key }}" size="70">
                        <button class="btn btn-success" onclick="copyRK()">Copy</button><br>

                        <label class="control-label col-sm-2" for="raw_nonce"> Raw Nonce (dev only): </label><br>
                        <input id="raw_nonce" maxlength="24" name="raw_nonce" type="raw_nonce" value="{{ raw_nonce  }}" size="70">
                        <button class="btn btn-success" onclick="copyNonce()">Copy</button><br>

                        <label class="control-label col-sm-2" for="nonce"> Nonce: </label><br>
                        <input id="nonce" maxlength="24" name="nonce" type="nonce" value="{{ nonce  }}" size="70">
                        <button class="btn btn-success" onclick="copyNonce()">Copy</button><br><br><br>

                        <script>
                            function copyUK() {
                                var copyText = document.getElementById("public_key");
                                copyText.select();
                                document.execCommand("copy");
                            }

                            function copyRK() {
                                var copyText = document.getElementById("private_key");
                                copyText.select();
                                document.execCommand("copy");
                            }

                            function copyNonce() {
                                var copyText = document.getElementById("nonce");
                                copyText.select();
                                document.execCommand("copy");
                            }
                        </script>
                                            <h4>Upload a file:</h4>

                        <input type="file" accept="image/*;capture=camera" name="myfile">
                        <!--<input type="file" name="myfile" value="">-->
                        <br><br><br><br>
                        <h4>Or paste an original writing...</h4><br>
                        <input id="text_content" name="text_content" type="text_content" value="{{ text_content  }}"
                               size="70">
                        <br>
                        <br><br><br>

                        <h4>Your content hash is:</h4>
                        <input id="content_hash" name="content_hash" type="content_hash" value="{{ content_hash  }}"
                               size="70">
                        <button class="btn btn-success" onclick="copyHash()">Copy</button>
                        <br><br><br><br>
                        <script>
                            function copyHash() {
                                var copyText = document.getElementById("content_hash");
                                copyText.select();
                                document.execCommand("copy");
                            }</script>
                        <input type="submit" value="Update Page">
                        <input type="submit" value="Next Step" formaction="/origin/">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


</form>
</div>



{% endblock %}

