{% extends 'base.html' %}
{% block title %}Log In

{% endblock %}
{% block login_active %}active{% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" align="center">
                    <h3>Verify your file:</h3>
                    {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <br><br>
                    <form action="/verify/" method="post" enctype="multipart/form-data">

                        <label class="control-label col-sm-2" for="public_key">Public Key: </label><br>
                        <input id="public_key" name="public_key" type="text" value="{{ public_key }}" size="70">
                        <br><br>

                        <label class="control-label col-sm-2" for="nonce">Enter nonce: </label><br>
                        <input id="nonce" name="nonce" type="text" value="{{ nonce }}" size="70">
                        <br><br>
                        <h4>Upload a file:</h4>

                        <input type="file" name="myfile" value=""><br><br>
                        <h4>Content Hash</h4>
                        <input id="content_hash" name="content_hash" type="text" value="{{ content_hash }}"
                               size="70">
                        <br><br><br><br>
                        <h4>Signature to verify:</h4>
                        <input id="signature" name="signature" type="signature" value="{{ signature  }}"
                               size="70">
                        <br><br><br><br>
                        <h4>Signature Validity QR:</h4>
                        <!--<input id="valid" name="valid" type="valid" value="{{ valid }}" size="70">-->
                        <a href="{{ qr }}"><img src="https://api.qrserver.com/v1/create-qr-code/?data={{ qr }}&amp;size=200x200&amp;ecc=H"/></a>
                        <br><br><br><br>
                        <input type="submit" value="Update Page">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


</form>
</div>

{% endblock %}


